[access]
	inheritFrom = All-Projects
[project]
	description = Topology Processing Framework
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-topoprocessing-committers
	owner = group saml/odl-gerrit-topoprocessing-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
